#postsRecentes{
	padding-top: 400px;
	margin: auto;
	width: 95%;
	border-radius: 10px;
	margin-bottom: 100px;
}

#postsRecentes a{
	color: black;
	text-decoration: none;
}

#postsRecentes a:hover{
	text-decoration: underline;
}

.txtRecentes{
	font-size: 2em;
	padding: 5px;
	background-color: #D8D8D8;
	border-radius: 10px;
	padding-left: 15px;
}

.imgRecentes{
	width: 600px;
	height: 400px;
	padding: 5px;
	background-color: #FAFAFA;
	border-radius: 10px;
}

#mainRecentes{
	margin-top: 100px;
	padding-top: 40px;
	width: 95%;
	background-color: #FAFAFA;
	border-radius: 10px;
	margin: auto;
}

#tituloRecentes{
	text-align: center;
	padding: 10px;
	width: 98.5%;
	background-color: #D8D8D8;
	margin-bottom: 50px;
	border-radius: 10px;
	color: black;
	font-weight: 600;
}

#sobreRecentes{
	text-align: center;
	padding: 10px;
	width: 98.5%;
	background-color: #D8D8D8;
}

#txtSobreRecentes{
	padding: 20px 75px;
	border-radius: 10px;
}

.edicao{
	color: #04B404;
	background-color: #A9F5A9;
}