#rodape{
	margin-top: 100px;
	width: 100%;
	height: 75px;
	background-color: #FAFAFA;
	color: #6E6E6E;
}

#rodape a{
	text-decoration: none;
	color: #6E6E6E;
}

#rodape a:hover{
	font-size: 1.1em;
	color: black;
}

#alinhamentoRodape{
	width: 500px;
	text-align: center;
	margin: auto;
	padding-top: 15px;
}